.container,
.container-fluid {
    > h2 {
        margin: 2rem 0;
        padding-bottom: 0.5em;
        border-bottom: 2px solid lighten(black, 85);
    }
}

.btn-group i {
    margin-right: 0.25em;
}
