{% extends '_layouts/layout.twig' %}
{% set title = 'About' %}
{% set fluid = false %}

{% block content %}
    <div class="lead text-justify">
        <p>
            The PHP internals are <a target="_blank" href="https://philsturgeon.uk/php/2013/09/12/solving-the-php-internals-workflow/">horrible</a>, it's not new, I know it, you know it.
            Between the wiki, the mailing lists from 1997, the Github repository and so on, information is spread out across the web; difficult to access, to comprehend, and to participate in.
            If you're not familiar with it, it's an unwelcoming world to whomever might want to know more about advances in the PHP language.
        </p>
        <p>
            This tool aims to simplify this by unifying sources of information under one roof, and answer all the questions people might have about the PHP internals.<br>
            Who voted on what? Who even are the people voting? What did they also vote on? What comments were made on a particular RFC? And so on.
        </p>
        <p>
            The app is not perfect, it's even pretty disgusting at times, but so is the data I'm working with so, you know. Doing my best here.<br>
            If you want to make it better, you're <a target="_blank" href="https://github.com/madewithlove/why-cant-we-have-nice-things">more than welcome to</a>.
        </p>
    </div>
{% endblock %}
