{% extends '_layouts/layout.twig' %}
{% set title = 'Error 404' %}
{% set subtitle = 'User tried to mess with the goddamn app' %}

{% block content %}
    <div class="text-center">
        <img src="http://i.imgur.com/xsmUCV7.gif">
    </div>
{% endblock %}
