{% extends '_layouts/layout.twig' %}
{% set title = 'Error 503' %}

{% block content %}
    <div class="text-center">
        <h2>
            I messed something up and it's all broken now<br>
            <small>(You were warned though)</small>
        </h2>
        <img src="http://i.imgur.com/bs7wTYz.gif">
    </div>
{% endblock %}
