// Colors
//////////////////////////////////////////////////////////////////////

$color-grey: #ECF0F1;
$color-red: #E74C3C;
$color-green: #2ECC71;

$color-text: lighten(black, 40);

// Font stacks
//////////////////////////////////////////////////////////////////////

$font-sans: Lato, Helvetica, Arial, sans-serif;
