<footer class="layout-footer">
    <section>
        &copy; {{ 'now'|date('Y') }} -
        <a target="_blank" href="https://github.com/madewithlove/why-cant-we-have-nice-things">source</a> -
        <a target="_blank" href="https://github.com/madewithlove/why-cant-we-have-nice-things/graphs/contributors">creators</a>
    </section>
    <img class="logo" src="/img/logo.svg"/>
    <section>
        <a target="_blank" href="http://madewithlove.be">madewithlove</a>
    </section>
</footer>
