<header class="layout-header page-header text-center">
    <h1>
        <a href="/">{{ app_name }}</a><br>
        <small>
            Tracker of PHP RFCs since 1873<br>
            <strong>This is an alpha. Stuff will break everywhere.</strong>
        </small>
    </h1>
</header>
