<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Why can't we have nice things</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                {% for link in navigation %}
                    <li {% if current_uri starts with link.uri %}class="active"{% endif %}>
                        <a href="{{ link.uri }}">{{ link.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
