{% set icons = {
    users: 'user',
    events: 'clock-o',
    requests: 'send',
    comments: 'comments',
    companies: 'building',
    pages: 'question',
} %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="collapsed navbar-brand">This is a beta, stuff will break</span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                {% for link in navigation %}
                    <li {% if current_uri starts with link.uri %}class="active"{% endif %}>
                        <a href="{{ link.uri }}">
                            <i class="fa fa-{{ icons[link.key] }}"></i>
                            {{ link.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
