<h2 id="comments" class="text-center">Comments ({{ comments_count|default(comments.count()) }})</h2>
{% for comment in comments %}
    {% include '_partials/comment.twig' %}
{% endfor %}

<div class="text-center">
    {{ comments.fragment('comments').render()|raw }}
</div>
