{% extends '_layouts/layout.twig' %}
{% set title = 'Users' %}

{% block content %}
    {% include '_partials/search.twig' %}

    <section class="page-users">
        {% include '_partials/tables/voters.twig' %}
        {% include '_partials/tables/creators.twig' %}
    </section>
{% endblock %}
