.layout-header {
    background: lighten(#2C3E50, 15) url('../img/claw.png') no-repeat -50px;
    background-size: auto 150%;
    padding: 5rem;
    margin: 0;

    h1, h2 {
        margin: 0;
    }

    a {
        color: white;
        transition: color 0.3s;
        font-weight: 300;

        &:hover {
            color: $color-green;
            text-decoration: none;
        }
    }

    @media (max-width: 1000px) {
        padding: 1.5rem;

        h1, h2 {
            font-size: 2rem;
        }
    }
}
