.navbar {
    background-color: darken($color-header, 15);
    border-radius: 0;
    min-height: 0;

    .navbar-brand, li > a {
        height: auto;
        padding: 0.5em;
        text-transform: lowercase;
        transition: color $transition;
    }
}
