{% extends '_layouts/layout.twig' %}
{% set title = 'Latest events' %}
{% set icons = {
    rfc_created: 'edit',
    rfc_status: 'history',
    comment_created: 'commenting',
    vote_up: 'thumbs-up',
    vote_down: 'thumbs-down',
} %}

{% block content %}
    <ul class="list-group timeline">
        {% for event in events %}
            <li class="list-group-item">
                <i class="fa fa-{{ icons[event.type] }}"></i>
                <div>
                    {% include "events/events/#{event.type}.twig" %}
                    <time datetime="{{ event.created_at }}">{{ event.created_at.diffForHumans() }}</time>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="text-center">
        {{ events.render() | raw }}
    </div>
{% endblock %}
