{% extends '_layouts/layout.twig' %}
{% set title = 'Latest events' %}

{% block content %}
    <ul class="list-group timeline">
        {% for event in events %}
            {% include '_partials/event.twig' %}
        {% endfor %}
    </ul>

    <div class="text-center">
        {{ events.render() | raw }}
    </div>
{% endblock %}
