{% set title = title ? "#{title} - Why can't we have nice things" : "Why can't we have nice things" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/builds/main.css">
</head>
<body>
    {% include '_layouts/partials/navbar.twig' %}

    <main class="container">
        <header class="page-header text-center">
            <h1 class="layout-header">
                <a href="/">Why can't we have nice things</a>
            </h1>

            {% if subtitle %}
                <h2>{{ subtitle }}</h2>
            {% endif %}
        </header>

        {% block content %}{% endblock %}
    </main>

    {% include '_layouts/partials/footer.twig' %}

    <script src="/builds/main.js"></script>
</body>
</html>
