.authors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .user {
        align-self: baseline;
        max-width: 400px;
        flex: 1;
        margin-right: 1rem;
    }
}
