.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;

    .media-left {
        padding: 1rem;
        padding-right: 3rem;
    }

    .media-heading {
        padding-bottom: 0.5em;
        border-bottom: 2px solid darken($color-grey, 10);
        margin: 0 0 2rem;
    }

    .media-body {
        padding: 2rem;
        background-color: $color-grey;
    }

    blockquote {
        padding: 0 1em;
        font-size: 1em;
        border-left: 3px solid rgba(black, 0.25);
    }
}
