.comment {
    padding: 2rem;
    background-color: $color-grey;
    margin-bottom: 2rem;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 1em;
        border-bottom: 2px solid darken($color-grey, 10);
        margin-bottom: 2rem;

        figure {
            margin-right: 1em;
        }
    }

    blockquote {
        padding: 0 1em;
        font-size: 1em;
        border-left: 3px solid rgba(black, 0.25);
    }

    &__children {
        padding-left: 2rem;
        border-left: 6px solid $color-grey;
    }
}
