.table {
    color: $color-text;

    a:not(.btn) {
        text-decoration: none;
    }

    thead {
        background-color: $color-green;
        color: white;

        abbr {
            border-color: black;
        }

        tr > th {
            padding: 0.5em 0.75em;

            &:focus {
                outline: 0;
            }

            &.text-center[colspan] {
                background-color: darken($color-green, 2);
                font-size: 2rem;
            }

            &.asc,
            &.desc {
                background-color: lighten($color-green, 5);

                &:before {
                    margin-right: 0.5em;
                }

                &:before, div {
                    display: inline-block;
                }
            }

            &.desc:before {
                content: '▼';
            }
            &.asc:before {
                content: '▲';
            }
        }

    }

    tbody > tr {
        &.filtered {
            display: none;
        }

        > td.success {
            background-color: darken($color-green, 2);
        }

        &:hover > td.success {
            background-color: lighten($color-green, 2);
        }

        > td.text-right {
            max-width: 50px;
        }
    }
}
