{% extends '_layouts/layout.twig' %}
{% set title = 'Mailing list' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Subject</th>
            <th>User</th>
            <th>Comments</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
            {% for thread in threads %}
                <tr>
                    <td>{{ thread.name }}</td>
                    <td>{{ thread.user.name }}</td>
                    <td>{{ thread.comments().count() }}</td>
                    <td>{{ thread.created_at.diffForHumans() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
