<a href="{{ url('requests.show', event.eventable.identifier) }}">{{ event.eventable.name }}</a>
now in version <a href="{{ url('requests.show', event.eventable.identifier) }}#versions">{{ event.metadata.version }}</a>
