{% set icons = {
    rfc_created: 'edit',
    rfc_status: 'history',
    rfc_version: 'tag',
    comment_created: 'commenting',
    vote_up: 'thumbs-up',
    vote_down: 'thumbs-down',
} %}

<li class="list-group-item">
    <i class="fa fa-{{ icons[event.type] }}"></i>
    <div>
        <h4 class="list-group-item-heading">
            {{ event.type|replace({_: ' ', rfc: 'RFC'}) }}
            <time datetime="{{ event.created_at }}">{{ event.created_at.diffForHumans() }}</time>
        </h4>
        <div class="list-group-item-text">
            {% include "events/events/#{event.type}.twig" %}
        </div>
    </div>
</li>
