<figure class="user">
    <img class="img-circle" src="{{ gravatar.get(user.email) }}" alt="">
    <h2>
        <a href="{{ url('users.show', user.identifier) }}">{{ user.display_name }}</a><br>
        <small>{{ user.full_name }}</small>
    </h2>
</figure>
