<figure class="user">
    <img class="img-circle" src="{{ gravatar.get(user.email) }}" alt="">
    <h2>
        {{ user.display_name }}<br>
        <small>{{ user.full_name }}</small>
    </h2>
</figure>
