{% extends '_layouts/layout.twig' %}
{% set title = 'Mailing list' %}

{% block content %}
    <div class="list-group">
        {% for group in groups %}
            <a class="list-group-item" href="{{ url('groups.show', group.slug) }}">
                {% if group.threads.count() %}
                    <span class="badge">{{ group.threads.count() }} threads</span>
                {% endif %}
                <span class="list-group-item-heading">{{ group.name }}</span>
                {% if group.threads.count() %}
                    <span class="small">Last activity: {{ group.threads.first().created_at.diffForHumans() }}</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
